

-- Resolver la relación circular aprobando las compañías ahora que el admin existe
UPDATE public.companies SET approved_by_user_id = '092638b7-dca3-44e6-b807-c49655880122' WHERE id IN ('608659ec-c59f-40cc-acb3-930217da4199', '739a3ae8-f4d0-40d5-a2a6-42332c6ba1e7');