-- 1. Forzar la creación de la tabla de migraciones dentro del esquema drizzle si no existe
CREATE TABLE IF NOT EXISTS drizzle.__drizzle_migrations (
    id integer NOT NULL,
    hash text NOT NULL,
    created_at bigint,
    CONSTRAINT __drizzle_migrations_pkey PRIMARY KEY (id)
);

-- 2. Insertar los datos del historial de Drizzle

-- 3. Cargar el resto de familias y compañías del bloque 2

INSERT INTO public.companies (id, legal_name, tax_id, contact_phone, price_list_code, approved_at, approved_by_user_id, created_at) VALUES
('608659ec-c59f-40cc-acb3-930217da4199', 'Construcciones Atlántico SL', 'B12345678', '+34 922 222 222', 'PRO_01', '2026-06-21 17:14:48.423+00', NULL, '2026-06-21 17:14:48.425509+00'),
('739a3ae8-f4d0-40d5-a2a6-42332c6ba1e7', 'construc', 'B1555469', '+34687424074', 'PRO_01', '2026-06-22 11:47:38.339+00', NULL, '2026-06-22 11:47:23.939143+00')
ON CONFLICT (id) DO NOTHING;